$custom-primary-color: #669bd1;
$custom-secondary-color: #8fcceb;
$custom-light-color: #e6e6e6;
$custom-light-gray-color: #eceaea;
$custom-gray: #646568;

$custom-blue: #669bd1;
$custom-light-blue: #8dceec;
$custom-dark-blue: #003e6f;
$custom-red: red;
$custom-green: #005F40;
$custom-light-green: rgb(3, 110, 75);
$custom-dark-green: rgb(7, 66, 46);

$text-color: #646568;
$link-color: #003e6f;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Base colors definitions
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #6b6b6b !default;
$teal: #f0fffa !default;
$cyan: #94a1a3 !default;

// Theme color default definitions
$primary: $custom-primary-color !default;
$secondary: $custom-secondary-color !default;
$success: $custom-primary-color !default;
$info: $custom-secondary-color!default;
$warning: $yellow !default;
$danger: $red !default;
$light: $custom-light-color !default;
$dark: $gray-800 !default;

// This table defines the theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark
  ),
  $theme-colors
);